/*base css*/
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3F3D3D;
    padding: 4em;
}
p{
    line-height: 1.5em;
}
img{
    width: 20%;
    height:auto;
    border-radius: 20px;

}

/*card or box css*/
.card{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1.5em;
    margin: 2em;

}
.incard{
    background-color: #E7F0EC;
    border-radius: 20px;
    padding: 1.5em;
    margin: 2em;
    padding-top: 0;
}

/*header flex:row*/
header{
    display:flex;
    flex-direction: row;
}

/*profeciency css*/
.bar ul{
    color: #4A8B70;
    margin-left: none;
    padding-left: none;
}
.pone{
    border-radius: 20px;
    background-color: #4A8B70;
    width: 50%;
    list-style: none;
}

.ptwo{
    border-radius: 20px;
    background-color: #4A8B70;
    width: 35%;
    list-style: none;
}

.pnone{
    border-radius: 20px;
    background-color: #4A8B70;
    width: 4%;
    list-style: none;
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

/*skills css*/
.skills ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skills li{
    padding: 5px;
    background-color: #E7F0EC;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

/*projects css*/
.year{
    width:40%;
    margin: .5em;
    height:auto;
}

/*education css*/
.school, .qualification, .sundry{
   display: flex;
   flex-direction: row;
}
/*tools css*/
.design, .software, .language{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.align{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.tools h3{
    background-color: #000000;
    border-radius: 59px;
    padding:.4em;
    padding-top:.2em;

    color: #FFFFFF;
    position:absolute;
    top:0;
    left:50%;
}

/*tools css*/
.hospitality, .callcenter, .generalworker{
    display: flex;
    flex-direction: row;
}

/*footer css*/
footer{
    background-color: #D76239;
    padding:2em;
    margin:2em;
    border-radius: 15px;
}

